<% if @sent_invites.any? %>
    <h3>Invited user</h3>
    <%= paginate(@sent_invites) %>
    <ul>
      <% @sent_invites.each do |invitation| %>
          <li><%= link_to invitation.invited_user.full_name, user_path(invitation.invited_user) %></li>
      <% end %>
    </ul>
    <%= paginate(@sent_invites) %>
<% end %>

<% if @received_invites.any? %>
    <h3>Invitations received</h3>
    <%= paginate(@received_invites) %>
    <ul>
      <% @received_invites.each do |invitation| %>
          <li><%= link_to invitation.inviting_user.full_name, user_path(invitation.inviting_user) %></li>
      <% end %>
    </ul>
    <%= paginate(@received_invites) %>
<% end %>

<%-# First loop iterates invited relations, second loop for recieved relations-%>

<% if @received_invites.any? %>

<% @sent_invites.each do |invited| %>
  <% @received_invites.each do |received| %>
    <% if invited.invited_user.full_name == received.inviting_user.full_name %>
      <h3>Friends</h3>
    <ul>
      <li><%= link_to invited.invited_user.full_name, user_path(invited.invited_user) %></li>
      <%end%>
    </ul>
  <%end%>
<%end%>
<%else%>
  <h3>You don't have any friends.</h3>
<%end%>
