
<div class="row profile">
    <div class="col-sm-4 col-md-3">
        <%= image_tag(@user.avatar.url(:medium), class: 'avatar') %>
        <h1><%= @user.full_name %></h1>




        <% if current_user %>
          <% @relationship = current_user.sent_invites.where(invited_id: @user.id).first %>

          <% if @relationship %>
            <%= link_to "Stop following", @relationship, method: :delete %>
          <% else %>
            <%= form_for :relationship, url: relationships_path, html: { method: :post } do |f| %>
              <%= f.hidden_field :invited_id, value: @user.id %>
              <%= f.submit 'Follow', class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        <% end %>





        <ul>
            <%= content_tag(:li, ("Name: " + @user.name)) unless @user.name.blank? %>
            <%= content_tag(:li, ("Age: " + distance_of_time_in_words(Time.now, @user.date_of_birth) + " old")) unless @user.date_of_birth.blank? %>
        </ul>
    </div>
    <div class="feed">
        <h3>Social Feed Coming</h3>
        <p><% @user.posts.each do |post| %>
        <h3><%=link_to post.title, post%></h3></br>
        <h4><%=post.text%></br></h4>
        <%end%></p>
    </div>

</div>
