
<%= form_for @post do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
            <%= f.label :title, class: 'control-label' %> <i>(Title can't be blank)</i>
            <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group>
            <%= f.label :text, class: 'control-label' %>
            <%= f.text_area :text, class: 'form-control', rows: 6 %>
        </div><br>

        <%= f.select :category_id, @categories %><br><br>

        <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
