


<%= link_to 'New Post', new_post_path %>


<div class="container">
  <%= paginate(@posts) %>

        <% @posts.each do |p| %>
        <div class="panel panel-default">
            <%= link_to post_path(p) do %>
            <div class="panel-body">
              <p><small><strong>By:</strong> <%= p.user.email %></small></p>
              <p><%= p.text %></p>

            </div>
            <% end %>
        </div>
        <% end %>
    
    <%= paginate(@posts) %>
</div>
