Display post<br /><br />

<b>ID:  </b><%= @post.id %><br />
<b>Title:  </b><%= @post.title %><br />
<b>text:  </b><%= @post.text %><br />
<b>Category: </b><%= @post.category.title %>

<br /><br /><br />

<div class="panel panel-default">
  <div class="panel-heading">
    Comments
  </div>
  <div class="panel-body">

    <% @post.comments.each do |comment| %>
    <small><%= comment.user.email %> says:</small>
     <p>
        <%= comment.body %>
        <% if current_user.present? && comment.user_id == current_user.id %>
          <small><%= link_to "Delete", post_comment_path(@post, comment), method: :delete %></small>
       <% end %>
      </p>
    <% end %>

  </div>
</div>

<% if current_user.present? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      Send a new comment
    </div>
    <div class="panel-body">
      <%= form_for [@post, @post.comments.build] do |f| %>
        <%= f.text_area :body, rows: 5 %><br>
        <%= f.submit 'Send' %>
      <% end %>
    </div>
  </div>
<% end %>


<br/><br/>
<%= link_to "Back to post list", posts_path %>

<% if current_user.present? and current_user.id == @post.user_id %>
  <br/>
  <%= link_to "Edit post", edit_post_path(@post) %>
  <br/>
  <%= link_to "Sil", post_path(@post), method: :delete %>
<% end %>
