<h2>Display Post</h2>

<strong>By: </strong><%= @post.user.name %><br />
<b>Title:  </b><%= @post.title %><br />
<b>text:  </b><%= @post.text %><br />
<b>Category: </b><%= @post.category.title %>

<br /><br /><br />

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Comments</h4>
  </div>
  <div class="panel-body">

    <% @post.comments.each do |comment| %>

     <p>
       <strong><%= comment.user.name %>:</strong>
        <%= comment.body %>
        <% if current_user.present? && comment.user_id == current_user.id %>
          <small><%= link_to "Delete", post_comment_path(@post, comment), method: :delete %></small>
       <% end %>
      </p>
    <% end %>

  </div>
</div>

<% if current_user.present? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Send a new comment <i>(Comment can't be blank)</i></h4>
    </div>
    <div class="panel-body">
      <%= form_for [@post, @post.comments.build] do |f| %>
        <%= f.text_area :body, rows: 5 %><br>
        <%= f.submit 'Send' %>
      <% end %>
    </div>
  </div>
<% end %>


<br/><br/>
<%= link_to "Back to post list", posts_path %>

<% if current_user.present? and current_user.id == @post.user_id %>
  <br/>
  <%= link_to "Edit post", edit_post_path(@post) %>
  <br/>
  <%= link_to "Sil", post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete this permanently?"}%>
<% end %>
