
<!DOCTYPE html>
  <html>
    <head>
        <title>PP</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
  <body>


  <!-- this is code we will cut out and put inside menu partial -->

  <%= render 'layouts/flash_messages' %>
  <%= render 'layouts/menu' %>
  <!-- this is code we will cut out -->




  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
